body {
    font-family: 'Arial';
    background-image: url(../image/fundo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.adicionar_item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#input_nova_tarefa,
#botao_tarefa{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 8px;
}

#input_nova_tarefa {
    width: 20rem;
    opacity: 60%;
    background-color: black;
    color: white;
}

#botao_tarefa {
    background-color: rgba(128, 0, 128, 0.582);
    color: black;
    cursor: pointer;
    transition: .8s;
}

#botao_tarefa:hover {
   background-color: rgba(126, 26, 219, 0.858); 
}

#div_lista_de_tarefas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#div_lista_de_tarefas li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;

}

#div_lista_de_tarefas li .botao-lista {
    margin-right: 100px; /* Adiciona uma margem à direita para separar os botões */
}

