body {
    font-family: 'Arial';
    background-image: url(../image/fundo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    align-items: center;
    flex: content;
}

.container {
    text-align: center; 
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center; 
}

button {
    padding: 8px 15px;
    background-color:rgb(120, 9, 9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:rgba(255, 58, 58, 0.858)
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.concluida {
    text-decoration: line-through;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

* {
    outline: none;
}
